<!DOCTYPE html>
<html>
 
<head>
    <title>About Page</title>
     
    <style type="text/css" media="screen">
        body {
            background-color: lightgreen;
            text-decoration-color: white;
            font-size:3em;
        }
    </style>
</head>
 
<body>
    <%- include('common/header')%>
    <center><%=name%> Page</center>
    <%- include('common/footer')%>
</body>
 
</html>  